<!DOCTYPE html>
<html>
  <head>
    <title>Airplanes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Airplanes</h1>
    <p>Welcome to <%= airplaneName %></p>
  </body>
</html>
